<% title "API" %>

<h2>Versions</h2>
<ul>
  <li>
    <%= link_to "Version 1", "./api/v1" %>
  </li>
</ul>

<br /><br /><br />
<p>
Note: The Parliament voting system only records text in Georgian, therefore, if you are using the English portion of the votes.parliament.ge api, all text will be in Georgian.
</p>
