<% title t('.title', :name => @conference.name, :date => l(@conference.start_date, :format => :no_zone)) %>
<% title_link link_to t('helpers.back.files'), root_path(:locale => I18n.locale), :class => 'btn btn-mini btn-primary' %>


<table id="agendas_datatable" class="display table table-striped table-bordered" 
      data-source="<%= search_agendas_url(:conference_id => @conference.id, :format => :json) %>">
  <thead>
    <tr>
      <th><%= Agenda.human_attribute_name(:name) %></th>
      <th><%= VotingSession.human_attribute_name(:passed) %></th>
      <th><%= VotingSession.human_attribute_name(:quorum) %></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
