#agenda_counts{
  margin: 10px 0; 
  padding: 10px 0; 
  border-top: solid 1px #eee; 
  border-bottom: solid 1px #eee;
  font-size: 18px;
  ul li{
    display: inline-block;
    min-width: 100px;
    span{
      font-weight: bold;
    }
  }
}
