#login-form {
  width: 360px !important;
  position: relative;
  margin: 0px auto;
  float: none;

  form {
    padding: 22px 25px 22px 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

}




