#parliament_options{
  margin-bottom: 10px;
  label{
    padding-top: 0px;
    display: inline-block;
  }
  .checkbox.inline{
    margin-left: 0.5em !important;
  }
}

#date_options{
  text-align: right;
  label{
    padding-top: 0px;
    display: inline-block;
  }
  input{
    margin-right: 5px;
    &:last-of-type{
      margin-right: 0;
    }
  }
}
