#upload_file{
  input {
    margin-right: 10px;
  }
  #processing_file_container{
    margin-left: 10px;
    display: inline-block;
    #processing_file{
      padding: 8px;
      display: none;
      background-color: #DFF0D8;
      color: #000;
    }
  }  
}
